<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drww.dao.customer.InformationDao">
        
    <select id="getTelephoneByUserName" parameterType="String" resultType="customer">

        select * from tb_user where username=#{userName}
    </select>
    <select id="getRealNameByUserId" parameterType="Integer" resultType="map">
        select b.* from tb_user a join tb_realname b on a.userid=b.userid where b.userid=#{userId}
    </select>
    
    <select id="getAuditorStatus" parameterType="Integer" resultType="map">
        select item from tb_systemcategoryitem where id=#{audutorId}
    </select>

</mapper>