<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drww.dao.customer.InformationDao">
        
    <select id="getTelephoneByUserName" parameterType="String" resultType="customer">

        select * from tb_user where username=#{userName}
    </select>
    <select id="getRealNameByUserId" parameterType="Integer" resultType="map">
        select b.* from tb_user a join tb_realname b on a.userid=b.userid where b.userid=#{userId}
    </select>
    
    <select id="getAuditorStatus" parameterType="Integer" resultType="map">
        select item from tb_systemcategoryitem where id=#{audutorId}
    </select>

    <select id="getEducation" resultType="map">
      select * from tb_systemcategoryitem where parentid=1
    </select>
    <select id="getMarriage" resultType="map">
        select * from tb_systemcategoryitem where parentid=3
    </select>
    <select id="getAddress" resultType="map">
        select * from tb_systemcategoryitem where parentid=2
    </select>
    <select id="getIncome" resultType="map">
        select * from tb_systemcategoryitem where parentid=4
    </select>
    
    
    
    <insert id="SubmissionRealName" parameterType="map">
  insert into tb_realname (id,userid,realname,sex,address,idnumber,academic,marriage,income,auditorid,housed)
   values(seq_realname_id.nextval,#{userId},#{realName},#{sex},#{address},#{idNumber},#{education},#{marriage},#{income},21,#{housed})
    </insert>

    

</mapper>