<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link rel="stylesheet" href="/css1/bootstrap.css" />-->
    <!--<script src="/js1/jquery-2.1.0.js"></script>-->
    <!--<link rel="stylesheet" href="/css1/index.css" />-->
    <link rel="stylesheet" href="/css/bidstyle.css">
    <style>
        .left{
            right: -540px;
            top:0;
        }
        .container1{
            margin-top: 30px;
        }
    </style>
</head>
<body>

<!--//添加-->
<div class="container1">
    <center>
        <div class="left">
            <form action="/bidcon/add" method="post">
                <table class="tableLeft">
                    <tr>
                        <td>
                            <label for="">满标金额(万元):</label>
                            <input type="text" id="bulk" class="form-control" name="BID_MONEY" placeholder="请输入满标金额" required="true">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="">最低投入(万元):</label>
                            <input type="text" id="load" class="aa form-control" name="BID_MINIMUM" placeholder="请输入最投入金额" required="true">
                        </td>
                    </tr>
                    <tr>
                        <td class="words">标金期数：</td>
                    <tr>
                        <td>
                            <select name="" class="form-control" th:name="BID_AMORTIZE">
                                <option value="1">三期</option>
                                <option value="2">六期</option>
                                <option value="3">十二期</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                    <tr>
                        <td class="words">结束时间:</td>
                    </tr>
                    <tr>
                        <td><input type="date" name="BID_END_TIME" id="" class="form-control" required="true"/></td>
                    </tr>
                    <tr>
                        <td class="words">操作人员：</td>
                    <tr>
                        <td>
                            <select name="" class="form-control" th:name="OPERATION_STAFF">
                                <option>赵谦</option>
                                <option>孙犁</option>
                                <option>周武</option>
                            </select>
                        </td>
                    </tr>
                    <tr>

                    <tr>
                        <td><input type="submit" class="btn btn-info tj" value="提交"/></td>
                    </tr>

                </table>
            </form>
        </div>

    </center>
<button id="btn">添加</button>
</div>

<!--查询-->
<center>
    <div class="listye">
        <table class="table table-hover">
            <tr>
                <td>序号</td>
                <td>满标金额</td>
                <td>创建时间</td>
                <td>最低投入</td>
                <td>目前已投</td>
                <td>当前状态</td>
                <td>标金期数</td>
                <td>结束时间</td>
                <td>操作人员</td>
                <td>操作</td>
            </tr>
            <tr th:each="bid : ${bidList}">
                <td th:text="${bidStat.count}"></td>
                <td th:text="${bid.BID_MONEY}"></td>
                <td th:text="${bid.BID_CREATION_TIME}"></td>
                <td th:text="${bid.BID_MINIMUM}"></td>
                <td th:text="${bid.BID_UNDERWAY}"></td>
                <td th:text="${bid.BID_STATE}"></td>
                <td th:text="${bid.BID_AMORTIZE}"></td>
                <td th:text="${bid.BID_END_TIME}"></td>
                <td th:text="${bid.OPERATION_STAFF}"></td>
                <td>
                    <button type="button" class="btn"><a href="" >修改</a></button>
                    <button type="button" class="btn"><a href="" >删除</a></button>
                </td>
            </tr>
            <tr>
                <td align="center" colspan="10" th:utext="${stringPage}">
                </td>
            </tr>
        </table>
    </div>
</center>






<script type="text/javascript">
    $("#btn").click(function () {



        var winW = $(window).width();
        console.log("浏览器宽：" + winW)
        var left = $(".left").get(0).offsetLeft;
        console.log("left左侧距离："+left)

        var w = winW - left;
//        console.log("win宽-left左侧-----w:"+w)
        var widthL = $(".left").width();
        console.log("left宽："+widthL)
        if (w == "360") {
            $(".left").css("right", -(widthL + 40) + "px")
            $(this).text('添加')
        } else {
            $(".left").css("right", "-39px")
            $(this).text('取消')
        }
    })


    $(document).on("blur",".aa",function(){
        var bulk = $("#bulk").val();
        var load = $("#load").val();
        if(bulk<load){
            alert("数额输入错误，请重新输入")
            $("#load").val("");
            return false;
        }else{
            return true;
        }
    })
</script>


</body>
</html>